<div class="mood<%= @post %>"> 
    <div class="activity">  
     <p id="displayactivity">
         <%= @activity.name%> 
     </p>
    </div>
</div>



<% @activities.each do |a| %>   
<% if a.name != @activity.name%>
 <div class="selection"> <%= a.name %></div>
<% end%>


<% end%>
