<% if @current_user.present? %> 
 <h2>How are you feeling?</h2>


<div class="row">
   <% @moods.each_with_index do |mood, index| %>
    <div class="col-6 col-sm-3 <%= mood.name %>" id=<%=index%>>
      <%=link_to mood.name, mood, :class => "mood" %>  
      
      </div>
<% end%>
<% end %>

</div>
</div>
  
