// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  // border: 1px solid greenyellow;

}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
      
    }
  }

  .row {
    //  max-width: 78em;
     background-color: rgb(255, 255, 255);
     border: 1em solid rgb(255, 255, 255);
  }


  .col-sm-3{
    background-color: rgb(202, 198, 199);
  }
  .col-6 {
    border: solid  rgb(255, 255, 255);  
    // height: 20em;
    // width: 20em;

    line-height: 20em;
    text-align: center;

  }


  .Sad {
    background-color: rgba(20, 98, 255, 0.558);
    color: aqua;
  
    // border: solid rgb(249, 249, 249) 1em;
  }

  a.mood:link {
    color: white;
    text-decoration: none;
    font-family: 'Faster One', cursive;
    font-size: 2em;
    text-decoration: none;

  }

  a.navlink:link {
    text-decoration: none;
    padding-right: 1em;
  }

  a.link {
    color: black;
    text-decoration: none;
  }

  a:visited {
    color: black;
    text-decoration: none;

  }

  a.mood:visited {
    color: white;
    text-decoration: none;

  }

  a:hover {
    color: rgb(0, 7, 2);
  }

  .Anxious {
    background-color: rgba(50, 65, 95, 0.825);
    color: aqua;
    // border: solid rgb(249, 249, 249) 1em;
  }
  .Miffed {
    background-color: rgb(206, 121, 211);
    color: aqua;
    // border: solid rgb(249, 249, 249) 1em;
  }
  .Demonic  {
    background-color: rgb(44, 10, 57);
    line-height: 1em;
    padding-top: 9em;
 
  }
  .Beige  {
    background-color: rgb(219, 209, 186);
    color: aqua;
    // border: solid rgb(249, 249, 249) 1em;
  }
  .Hoodwinked{
    background-color: rgb(238, 193, 42);
    color: aqua;
    // border: solid rgb(249, 249, 249) 1em;
  }
  .Lonesome{
    background-color: rgb(126, 160, 235);
    color: aqua;
    // border: solid rgb(249, 249, 249) 1em;

  } .Dead{
    background-color: rgb(0, 0, 0);
    color: aqua;
    // border: solid rgb(249, 249, 249) 1em;
  } .Lazy{
    background-color: rgb(105, 180, 233);
    color: aqua;
    // border: solid rgb(249, 249, 249) 1em;
  }
  .YUCK{
    background-color: rgb(182, 238, 144);
    color: aqua;
    // border: solid rgb(249, 249, 249) 1em;
  }
  .Forlorn{
    background-color: rgb(3, 30, 76);
    color: aqua;
    // border: solid rgb(249, 249, 249) 1em;
  }
  .Furious{
    background-color: rgb(246, 68, 3);
    color: aqua;
    // border: solid rgb(249, 249, 249) 1em;
  }
label {
  color: indianred;
  display: flexbox;
}

.logo {
  // border: solid black;
  text-align: right ;
  padding-top: 1em;

}

#displayactivity  {
  color: rgb(250, 250, 250);
  font-family: 'Faster One', cursive;
  text-align: center;
  padding: 1em;
  font-size: 90px;
  // max-height: 100%v0h;

}


.mood52 {
  background-color: rgb(20, 98, 255);
  // border: solid rgb(0, 0, 0);
}

.mood53 {
  background-color: rgb(50, 65, 95);
  // border: solid rgb(0, 0, 0);
}
.mood54 {
  background-color: rgb(206, 121, 211);
  // border: solid rgb(0, 0, 0);
}
.mood55 {
  background-color: rgb(44, 10, 57);
  // border: solid rgb(0, 0, 0);
}
.mood56 {
  background-color: rgb(219, 209, 186);
  // border: solid rgb(0, 0, 0);
}

.mood57 {
  background-color: rgb(246, 68, 3);
  // border: solid rgb(0, 0, 0);
}
.mood58 {
  background-color: rgb(238, 193, 42);
  // border: solid rgb(0, 0, 0);
}
.mood59 {
  background-color: rgb(126, 160, 235);
  // border: solid rgb(0, 0, 0);
}
.mood60 {
  background-color: rgb(0, 0, 0);
  // border: solid rgb(0, 0, 0);
}
.mood61 {
  background-color: rgb(105, 180, 233);
  // border: solid rgb(0, 0, 0);
}
.mood62 {
  background-color: rgb(182, 238, 144);
  // border: solid rgb(0, 0, 0);
}
.mood63 {
  background-color: rgb(3, 30, 76);
  // border: solid rgb(0, 0, 0);
}

.nav {
  padding-top: 1em;
  padding-bottom: 1em;
  text-decoration: none;
}
span {
  color: blue;
}

h2 {
  color: rgb(255, 255, 255);
  font-family: 'Londrina Outline', cursive;
  text-align: center;

  z-index: 9;
  position: fixed;
  left: 2%;
  top: 15%;
  background-color: rgb(0, 0, 0);
 width: 3em;
 height: 3em;
 /* line-height: 80px; */
  font-size: 3em;
 border-radius: 10em;
 margin-top: 1em;
 border-top: solid 5px black;
}


.mood12 {
  background-color: rgb(20, 98, 255);
  // border: solid rgb(0, 0, 0);
}

.mood13 {
  background-color: rgb(50, 65, 95);
  // border: solid rgb(0, 0, 0);
}
.mood14 {
  background-color: rgb(206, 121, 211);
  // border: solid rgb(0, 0, 0);
}
.mood15 {
  background-color: rgb(44, 10, 57);
  // border: solid rgb(0, 0, 0);
}
.mood16 {
  background-color: rgb(219, 209, 186);
  // border: solid rgb(0, 0, 0);
}

.mood17 {
  background-color: rgb(246, 68, 3);
  // border: solid rgb(0, 0, 0);
}
.mood18 {
  background-color: rgb(238, 193, 42);
  // border: solid rgb(0, 0, 0);
}
.mood19 {
  background-color: rgb(126, 160, 235);
  // border: solid rgb(0, 0, 0);
}
.mood20 {
  background-color: rgb(0, 0, 0);
  // border: solid rgb(0, 0, 0);
}
.mood21 {
  background-color: rgb(105, 180, 233);
  // border: solid rgb(0, 0, 0);
}
.mood22 {
  background-color: rgb(182, 238, 144);
  // border: solid rgb(0, 0, 0);
}
.mood23 {
  background-color: rgb(3, 30, 76);
  // border: solid rgb(0, 0, 0);
}
