// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
      
    }
  }

  .row{
     max-width: 60em;
     background-color: lightcyan;
  }


  .col-6 {
    border: solid  darkblue;  
    max-height: 15em;
    max-width: 15em;
    line-height: 15em;
    text-align: center;
  }