<h1>Activity INDEX PAGE- need to hide this</h1>

<% @activities.each do |activity| %>
  <p> <%= activity.name %> |
  <%= activity.theme %> </p>
    <% activity.moods.each do |mood| %>
    <span>   <%= mood.name %> </span> 
    <% end %>
  <% end%>